.Modal__backdrop {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.Modal__body {
  flex: 8;
  position: relative;
}

.Modal__footer {
  flex: 1;
  background-color: #276eab;
  padding-top: 20px;
}

.Modal__close_button,
.Modal__export_button {
  background-color: #fff;
  border: 2px solid #276eab;
  border-radius: 5px;
  color: #276eab;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
  padding: 10px 0;
  width: 30%;
  display: inline-block;

}

.Modal__close_button:hover,
.Modal__export_button:hover {
  background-color:#276eab;
  border: 2px solid #fff;
  color: #fff;
}
